doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='')
    meta(name='author', content='')
    title Agency - Start Bootstrap Theme
    // Bootstrap core CSS
    link(href='bootstrap/css/bootstrap.min.css', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Fahkwang', rel='stylesheet')
    // Custom fonts for this template
    link(href='fontawesome-free/css/all.min.css', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Kaushan+Script', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700', rel='stylesheet', type='text/css')
    // Custom styles for this template
    link(href='css/agency.min.css', rel='stylesheet')
  body#page-top
    // Navigation
    nav#mainNav.navbar.navbar-expand-lg.navbar-dark.fixed-top
      .container
        a.navbar-brand.js-scroll-trigger(href='#page-top')
          img(style=' height: 100px;\
          width: 150px;', src='../img/CBS.png', alt='')
        button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
          | Menu
          i.fas.fa-bars
        #navbarResponsive.collapse.navbar-collapse
          ul.navbar-nav.text-uppercase.ml-auto
            li.nav-item
              a.nav-link.js-scroll-trigger(href='#about') About Us
            li.nav-item
              a.nav-link.js-scroll-trigger(href='#portfolio') Events and Projects
            li.nav-item
              a.nav-link.js-scroll-trigger(href='#contact') Join Us
    // Header
    header.masthead
      .container
        .intro-text
          .intro-heading(style="font-size:70px;font-family: 'Fahkwang', sans-serif;") Character Building Society GIK
          .intro-lead-in(style='font-size:20px')
            | A society aiming to instill an admirable sense of character in the student body of GIKI.
    // About
    section#services
      .container
        .row
          .col-lg-12.text-center
            h2.section-heading.text-uppercase About Us
        .row.text-center
          .col-md-4
            span.fa-stack.fa-4x
              i.fas.fa-circle.fa-stack-2x.text-primary
              i.fas.fa-shopping-cart.fa-stack-1x.fa-inverse
            h4.service-heading E-Commerce
            p.text-muted
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.
          .col-md-4
            span.fa-stack.fa-4x
              i.fas.fa-circle.fa-stack-2x.text-primary
              i.fas.fa-laptop.fa-stack-1x.fa-inverse
            h4.service-heading Responsive Design
            p.text-muted
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.
          .col-md-4
            span.fa-stack.fa-4x
              i.fas.fa-circle.fa-stack-2x.text-primary
              i.fas.fa-lock.fa-stack-1x.fa-inverse
            h4.service-heading Web Security
            p.text-muted
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.
    // -Join Us
    div
      img.img-fluid(style='width:100%; height: 600px;', src='img/StoryImage1.png', alt='')
    // Portfolio Grid
    section#portfolio.bg-light
      .container
        .row
          .col-lg-12.text-center
            h2.section-heading.text-uppercase Events and projects
            br
            br
            br
        .row
          .col-md-4.col-sm-6.portfolio-item
            a.portfolio-link(data-toggle='modal', href='#portfolioModal1')
              .portfolio-hover
                .portfolio-hover-content
                  i.fas.fa-plus.fa-3x
              img.img-fluid(src='img/portfolio/TEDx.jpg', alt='')
            .portfolio-caption
              h4 TEDx GIKI
              p.text-muted Character building society hosted the second edition of Tedx. 
          .col-md-4.col-sm-6.portfolio-item
            a.portfolio-link(data-toggle='modal', href='#portfolioModal2')
              .portfolio-hover
                .portfolio-hover-content
                  i.fas.fa-plus.fa-3x
              img.img-fluid(src='img/portfolio/messTable.jpg', alt='', style='height:230px')
            .portfolio-caption
              h4 Mess Table Cloth
              p.text-muted Mess Table Cloth Creative Design by Character Building Society
          .col-md-4.col-sm-6.portfolio-item
            a.portfolio-link(data-toggle='modal', href='#portfolioModal3')
              .portfolio-hover
                .portfolio-hover-content
                  i.fas.fa-plus.fa-3x
              img.img-fluid(src='img/portfolio/foodWaste.jpg', alt='')
            .portfolio-caption
              h4 Mess Food Wastage
              p.text-muted The daily food wastage in mess was analyzed by Character Bulding Society
    // Contact
    section#contact
      .container
        .row
          .col-lg-12.text-center
            img.img-fluid(src='img/Join Us.jpg', alt='', style='width:100%; margin-bottom: 20px')
        .row
          .col-lg-12
            form#contactForm(name='sentMessage', novalidate='novalidate')
              .row
                .col-md-6
                  .form-group
                    input#name.form-control(type='text', placeholder='Your Name *', required='required', data-validation-required-message='Please enter your name.')
                    p.help-block.text-danger
                  .form-group
                    input#email.form-control(type='email', placeholder='Your Email *', required='required', data-validation-required-message='Please enter your email address.')
                    p.help-block.text-danger
                .col-md-6
                  .form-group
                    input#phone.form-control(type='tel', placeholder='Your Phone *', required='required', data-validation-required-message='Please enter your phone number.')
                    p.help-block.text-danger
                  .form-group
                    input#registration.form-control(placeholder='Your reg # *', required='required', data-validation-required-message='Please enteryour registration number.')
                    p.help-block.text-danger
                .clearfix
                .col-lg-12.text-center
                  #success
                  button#sendMessageButton.btn.btn-primary.btn-xl.text-uppercase(type='submit') Sign Up
    // Footer
    footer
      .container
        .row
          .col-md-4
            span.copyright Copyright © Character Building Society GIK
          .col-md-4
            ul.list-inline.social-buttons
              li.list-inline-item
                a(href='https://www.facebook.com/cbsGIKI/')
                  i.fab.fa-facebook-f
              li.list-inline-item
                a(href='https://www.instagram.com/cbsatgik/')
                  i.fab.fa-instagram
    // Portfolio Modals
    // Modal 1
    #portfolioModal1.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
      .modal-dialog
        .modal-content
          .close-modal(data-dismiss='modal')
            .lr
              .rl
          .container
            .row
              .col-lg-8.mx-auto
                .modal-body
                  // Project Details Go Here
                  h2.text-uppercase1 TEDx GIKI
                  p.item-intro.text-muted Character building society hosted the second edition of Tedx..
                  img.img-fluid.d-block.mx-auto(src='img/portfolio/TEDx.jpg', alt='')
                  p
                    | It is to CBS credit to organize a much-awaited event which happened in GIKI after 6 whole years, the TEDxGIKI 2019. This year theme “The Harbinger Of Change” brought the Alumni of GIKI on a single platform where they altruistically shared their way to shape the future with their creative ideas and innovations. TEDxGIKI was a success in terms of participation of GIKI students and the ideas shared by the speakers from various fields.
                  button.btn.btn-primary(data-dismiss='modal', type='button')
                    i.fas.fa-times
                    |                     Close
    // Modal 2
    #portfolioModal2.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
      .modal-dialog
        .modal-content
          .close-modal(data-dismiss='modal')
            .lr
              .rl
          .container
            .row
              .col-lg-8.mx-auto
                .modal-body
                  // Project Details Go Here
                  h2.text-uppercase Mess Table Cloth
                  p.item-intro.text-muted Mess Table Cloth Creative Design:
                  img.img-fluid.d-block.mx-auto(src='img/portfolio/messTable.jpg', alt='')
                  p
                    | The table cloth provided for tables in the central mess are usually plain white and dull to look at, the table mats are no other than picture of a cold drink company which have been there for many years. CBS decided to design a clothe which will not only be something better to look at but also a source of knowledge as well. The prototype consisted of mathematical equations and physics formulaes, it also had a section for famous quotes of macro influencers, businessmen and entrepreneurs etc. the populace of GIKI appreciated the project and their interest exponentially increased. CBS is working on modifying the table clothe for newer and better addition of knowledge for which information is curated. It will be implying its new ideas soon.
                  button.btn.btn-primary(data-dismiss='modal', type='button')
                    i.fas.fa-times
                    |                     Close
    // Modal 3
    #portfolioModal3.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
      .modal-dialog
        .modal-content
          .close-modal(data-dismiss='modal')
            .lr
              .rl
          .container
            .row
              .col-lg-8.mx-auto
                .modal-body
                  // Project Details Go Here
                  h2.text-uppercase Mess Food Wastage
                  p.item-intro.text-muted The daily food wastage in mess was analyzed by Character Bulding Society
                  img.img-fluid.d-block.mx-auto(src='img/portfolio/foodWaste.jpg', alt='')
                  p
                    | Being humans and considering the current financial climate where there is a price for everything and that makes it less affordable for the larger masses when it comes to food and other necessary items to sustain life, it is a great concern for us you realize the amount of food wasted everyday by us. CBS decided to analyze the whole mess food wastage problem and after a series of observations and compilation of daily food wastage data, the average food wasted per day was enough to feed about 100 people. this was a very large number and it was CBS’s goal to lessen it. Hence, taking the high road CBS started an awareness campaign in the central mess, which efficiently reduced it to merely approx 30 people food.
                  button.btn.btn-primary(data-dismiss='modal', type='button')
                    i.fas.fa-times
                    |                     Close
    // Modal 4
    #portfolioModal4.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
      .modal-dialog
        .modal-content
          .close-modal(data-dismiss='modal')
            .lr
              .rl
          .container
            .row
              .col-lg-8.mx-auto
                .modal-body
                  // Project Details Go Here
                  h2.text-uppercase Project Name
                  p.item-intro.text-muted Lorem ipsum dolor sit amet consectetur.
                  img.img-fluid.d-block.mx-auto(src='img/portfolio/04-full.jpg', alt='')
                  p
                    | Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!
                  ul.list-inline
                    li Date: January 2017
                    li Client: Lines
                    li Category: Branding
                  button.btn.btn-primary(data-dismiss='modal', type='button')
                    i.fas.fa-times
                    |                     Close Project
    // Modal 5
    #portfolioModal5.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
      .modal-dialog
        .modal-content
          .close-modal(data-dismiss='modal')
            .lr
              .rl
          .container
            .row
              .col-lg-8.mx-auto
                .modal-body
                  // Project Details Go Here
                  h2.text-uppercase Project Name
                  p.item-intro.text-muted Lorem ipsum dolor sit amet consectetur.
                  img.img-fluid.d-block.mx-auto(src='img/portfolio/05-full.jpg', alt='')
                  p
                    | Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!
                  ul.list-inline
                    li Date: January 2017
                    li Client: Southwest
                    li Category: Website Design
                  button.btn.btn-primary(data-dismiss='modal', type='button')
                    i.fas.fa-times
                    |                     Close Project
    // Modal 6
    #portfolioModal6.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
      .modal-dialog
        .modal-content
          .close-modal(data-dismiss='modal')
            .lr
              .rl
          .container
            .row
              .col-lg-8.mx-auto
                .modal-body
                  // Project Details Go Here
                  h2.text-uppercase Project Name
                  p.item-intro.text-muted Lorem ipsum dolor sit amet consectetur.
                  img.img-fluid.d-block.mx-auto(src='img/portfolio/06-full.jpg', alt='')
                  p
                    | Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!
                  ul.list-inline
                    li Date: January 2017
                    li Client: Window
                    li Category: Photography
                  button.btn.btn-primary(data-dismiss='modal', type='button')
                    i.fas.fa-times
                    |                     Close Project
    // Bootstrap core JavaScript
    script(src='jquery/jquery.min.js')
    script(src='bootstrap/js/bootstrap.bundle.min.js')
    // Plugin JavaScript
    script(src='jquery-easing/jquery.easing.min.js')
    // Contact form JavaScript
    script(src='js/jqBootstrapValidation.js')
    script(src='js/contact_me.js')
    // Custom scripts for this template
    script(src='js/agency.min.js')
